@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins&family=Raleway:wght@600;800&display=swap');

:root {
    --primary: #273043;
    --secondary: #9197AE;
    --black: #141416;
    --grey: #49494b;
    --white: #EFF6EE;
    --blue: #1F487E;
    --teal: #00BD9D;
    --orange: #e75627;
    --red: #F02D3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}