.login_body {
    background-color: var(--black);
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.alert {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: absolute;
    width: 450px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_title {
    text-align: center;
    letter-spacing: 10px;
    width: 100%;
    pointer-events: none;
    user-select: none;
}

label {
    user-select: none;
}

.form_group {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.form_input {
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: 6px;
    padding-block: 8px;
    color: snow;
    border-bottom: 1px solid var(--grey);

}

.underline-animation {
    transition: all 0.5s;
    display: inline-block;
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #444;
}

.form_group>.form_input:focus+.underline-animation {
    left: 0;
}

.form_group>label+.form_input:focus {
    color: #fff;
}

.login_btn {
    background-color: var(--orange);
    color: snow;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    transition: 200ms ease-in-out;
}

.login_btn:focus,
.login_btn:hover {
    outline: none;
    background-color: whitesmoke;
    color: #444;
}

.account {
    text-align: center;
}

.account a {
    text-decoration: none;
    color: snow;
}